<div class="row">    
        <h2>Photo Album</h2>
        <p>This is the home page for PhotoAlbum API</p>
        <p>To get all the albums with photos in json please enter <b>{localhost}/api/photoalbum</b> in the url</p>
        <p>To get albums with photos for a particular userId enter <b>{localhost}/api/photoalbum/{userid}</b> in the url</p>
</div>
